@import url("https://fonts.googleapis.com/css?family=Allura|Fredoka+One|Hind+Vadodara");
* {
  margin: 0;
  padding: 0; }

body {
  background: #f7f8f9 !important;
  font-family: 'Hind Vadodara', sans-serif; }

@media (max-width: 575px) {
  .dn {
    display: none; } }

.duration-1 {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms; }

.duration-2 {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms; }

.duration-3 {
  -webkit-animation-duration: 1500ms;
  animation-duration: 1500ms; }

.duration-4 {
  -webkit-animation-duration: 2000ms;
  animation-duration: 2000ms; }

.duration-5 {
  -webkit-animation-duration: 2500ms;
  animation-duration: 2500ms; }

.delay-1 {
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms; }

.delay-2 {
  -webkit-animation-delay: 1000ms;
  animation-delay: 1000ms; }

.delay-3 {
  -webkit-animation-delay: 1500ms;
  animation-delay: 1500ms; }

.delay-4 {
  -webkit-animation-delay: 2000ms;
  animation-delay: 2000ms; }

.delay-5 {
  -webkit-animation-delay: 2500ms;
  animation-delay: 2500ms; }

h1 {
  color: #321911 !important; }

h3 {
  color: #3e2723 !important; }

p {
  color: #6a4f4b !important; }

header {
  position: fixed;
  z-index: 19;
  left: 0;
  right: 0; }
  @media (max-width: 991px) {
    header {
      position: initial; } }

.top-nav {
  background: #1b0000;
  padding: 4px; }
  .top-nav p {
    color: #d3b8ae !important;
    padding: 0px;
    margin: 0px;
    font-size: 13px; }
  .top-nav ul {
    margin: 0px;
    padding: 0px;
    float: right; }
    .top-nav ul li {
      list-style: none;
      float: left; }
    .top-nav ul a {
      color: #6a4f4b;
      display: inline-block;
      padding: 0px;
      margin-left: 10px; }
      .top-nav ul a:hover {
        color: #be9c91; }

.main-nav {
  background: #3e2723; }
  .main-nav .logo h1 {
    color: #d3b8ae !important; }
  .main-nav .logo a {
    color: #ffffff;
    display: block;
    padding: 5px 0;
    text-decoration: none; }
  .main-nav .navbar-nav .nav-item .nav-link {
    color: #d3b8ae;
    padding: 19px 10px; }
    .main-nav .navbar-nav .nav-item .nav-link:hover {
      color: #be9c91; }
    @media (max-width: 991px) {
      .main-nav .navbar-nav .nav-item .nav-link {
        padding: 5px; } }
  .main-nav .navbar-nav .active .nav-link {
    color: #be9c91 !important; }
  .main-nav .navbar-toggler {
    position: absolute;
    right: 0px;
    top: -46px;
    color: #be9c91 !important;
    border: 1px solid #be9c91 !important;
    -webkit-border-radius: 0px;
    border-radius: 0px; }
  .main-nav .navbar {
    padding: 0px !important; }
  .main-nav .nav-login {
    display: block;
    padding: 1px;
    height: 40px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #d3b8ae;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    font-size: 22px;
    color: #d3b8ae;
    margin-left: 15px; }

.bg-1 {
  background: #3e2723;
  color: #d3b8ae; }

.banner {
  background: url("../images/banner.jpg") center no-repeat fixed;
  -webkit-background-size: cover;
  background-size: cover; }
  .banner h3 {
    padding: 10px;
    color: #d3b8ae !important;
    background: rgba(25, 0, 0, 0.5) !important;
    margin-bottom: 10px;
    display: inline-block !important; }
  .banner p {
    padding: 10px;
    color: #d3b8ae !important;
    background: rgba(25, 0, 0, 0.5) !important;
    margin-bottom: 10px;
    display: inline-block !important; }

.page-header {
  height: 250px;
  background: #d3b8ae; }
  .page-header .page-tiltle {
    margin-top: 150px;
    color: #321911;
    text-align: center;
    text-transform: uppercase; }

.page-body {
  padding: 75px 0; }
  .page-body img {
    width: 100%; }

.page-body-sec {
  padding: 75px 0;
  text-align: center; }

i.fa-archive {
  font-size: 30px;
  padding: 10px;
  border: 1px solid #1b0000;
  -webkit-border-radius: 100%;
  border-radius: 100%; }

.services {
  padding: 75px 0; }
  .services .service {
    text-align: center; }
    .services .service img {
      height: 200px;
      width: 100%; }
      @media (max-width: 991px) {
        .services .service img {
          max-height: 200px; } }
    .services .service p {
      font-size: 14px; }

.find {
  background: #d3b8ae;
  padding: 75px 0; }
  .find img {
    width: 100%; }

.work-folio {
  padding: 75px 0;
  text-align: center; }
  .work-folio h2 {
    height: 150px;
    width: 150px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: #6a4f4b;
    color: #ffffff;
    text-align: center;
    padding: 48px 0;
    border: 8px solid #3e2723;
    margin: 0 auto; }
  .work-folio p {
    font-size: 16px;
    font-weight: bold;
    text-align: center; }

.testimonial {
  padding: 75px 0;
  background: #d3b8ae; }
  .testimonial h3 {
    text-align: center; }
  .testimonial .carousel .carousel-inner img {
    height: 150px !important;
    width: 150px !important;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    float: right; }
    @media (max-width: 991px) {
      .testimonial .carousel .carousel-inner img {
        float: none;
        margin: 0 auto; } }
  .testimonial .carousel .carousel-inner p {
    text-align: left; }
  .testimonial .carousel .carousel-inner h3 {
    text-align: left; }
  .testimonial .carousel .carousel-indicators li {
    background: #1b0000; }
  .testimonial .carousel .carousel-caption {
    position: static;
    padding-left: 50px; }
    .testimonial .carousel .carousel-caption .fa-quote-left {
      position: absolute;
      left: 0px;
      top: 0px;
      font-size: 42px; }
      @media (max-width: 991px) {
        .testimonial .carousel .carousel-caption .fa-quote-left {
          left: 20px; } }
    .testimonial .carousel .carousel-caption .fa-quote-right {
      position: absolute;
      right: 0px;
      bottom: 50px;
      font-size: 42px;
      display: none; }

.repair {
  padding: 75px 0;
  background: url("../images/banner.jpg") center no-repeat fixed;
  -webkit-background-size: cover;
  background-size: cover; }
  .repair img {
    width: 100%; }
  .repair .repair-bg {
    padding: 15px;
    background: rgba(211, 184, 174, 0.5); }
  .repair ul {
    margin: 0px;
    padding: 0px; }
    .repair ul li {
      list-style: none; }
    .repair ul a {
      display: block;
      color: #321911;
      font-size: 16px;
      text-decoration: none; }
      .repair ul a:hover {
        color: #1b0000;
        font-weight: 600; }

.maps-location {
  widows: 100%;
  overflow: hidden;
  padding: 75px 0; }

.brand {
  padding: 75px 0;
  text-align: center;
  background: #d3b8ae; }
  .brand img {
    width: 100%; }

.border-bottom-1 {
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-top: 25px solid #d3b8ae;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0; }

.border-bottom-2 {
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-top: 25px solid #ffffff;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0; }

#footer {
  background: #3e2723;
  padding: 75px 0; }
  #footer h3 {
    color: #d3b8ae !important;
    font-size: 20px;
    margin-bottom: 20px; }
  #footer h5 {
    color: #6a4f4b; }
  #footer ul li {
    list-style: none; }
  #footer ul a {
    color: #d3b8ae !important;
    font-size: 14px; }
  #footer .f-news h4 {
    color: #be9c91;
    font-size: 16px;
    margin: 0px;
    padding: 0px; }
  #footer .f-news p {
    font-size: 14px;
    margin: 0px;
    padding: 0px; }
  #footer .f-news small {
    color: #d3b8ae; }
